---
layout: default
---
<section class="page-head container-fluid mt-50">
    <div class="container">
        <h1 class="col-12 text-right"> پلتفرم‌ها</h1>
        <h2 class="col-12 text-right">پیاده سازی راحت بر روی هر پلتفرمی</h2>
    </div>
</section>
<div class="container-fluid pt-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center"> چابک روی هر پلتفرمی قابل استفاده است</h3>
                <p class="text-center">
                    ما برای هر پلتفرم راهنمای
                    کاملی ایجاد کرده‌ایم تا شما در کوتاه‌ترین زمان چابک را به برنامه یا نرم‌افزار خود اضافه کنید.
                </p>
            </div>
        </div>
        <div class="row mt-15 mb-30">
            {% for platform in site.data.platforms %}
            <div class="col-md-4">
                <div class="col-md-11 platfrom-box android">
                    <div class="row">
                        <div class="col-6 my-auto text-center">
                            <img src="{{ site.baseurl }}/images/{{ platform.image }}" height="36"/>
                            <h6 dir="ltr">{{ platform.name }}</h6>
                        </div>
                        <div class="col-6 btn-bar">
                            <div class="nav flex-column">
                                <a target="_blank" href="{{ site.baseurl }}{{ platform.document }}"
                                   class="nav-link {% if platform.document %} {% else %} disabled {% endif %}">
                                    مستندات
                                </a>

                                <a target="_blank" href="{{ platform.issue }}"
                                   class="nav-link {% if platform.issue %} {% else %} disabled {% endif %}">
                                    پشتیبانی
                                </a>

                                <a target="_blank" href="{{ platform.demo }}"
                                   class="nav-link {% if platform.demo %} {% else %} disabled {% endif %}">
                                    دمو
                                </a>
                                <a target="_blank" href="{{ platform.starter }}"
                                   class="nav-link {% if platform.starter %} {% else %} disabled {% endif %}">
                                    پروژه شروع
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
