<div class="container-fluid padding-40-80" style="background: rgb(0, 27, 51);"><div>
    <div class="flot-50" style="position: relative">
        <!--<div class="endlink">-->
        <!--<a href="soon.html">-->
        <!--قیمت‌ها-->
        <!--</a>-->

        <!--</div>-->
        <div class="endlink">
            <a href="chabok.html">
                قابلیت‌ها
            </a>

        </div>
        <div class="endlink">
            <a href="chabok.html">
                درباره چابک
            </a>

        </div>
        <div class="endlink">
                    <span class="loginpanel">
                                ورود به پنل کاربری
                    </span>

        </div>
        <div class="endlink">
            <a href="usage.html">
                موارداستفاده
            </a>
        </div>
        <div class="endlink">
            <a href="soon.html">
                وبلاگ
            </a>

        </div>
        <!--<div class="endlink">-->
        <!--<a href="soon.html">-->
        <!--ثبت‌ نام-->
        <!--</a>-->
        <div class="endlink">
            <a href="testpush.html">
                ارسال تستی                    </a>

        </div>

        <!--</div>-->
        <!--<div class="endlink">-->
        <!--<a href="soon.html">-->
        <!--مستندات-->
        <!--</a>-->

        <!--</div>-->
        <div class="endlink">
            <a href="platforms.html">
                پلتفرم‌ها
            </a>

        </div>
        <div class="endlink">
            <a href="soon.html">
                قوانین و مقررات
            </a>

        </div>
        <div class="endlink">
            &nbsp;
        </div>
        <div class="endlink">
            <a href="careers.html">
                فرصت‌های شغلی
            </a>

        </div>
        <div class="endlink social">
            <!--<a><img src="www/image/twitter.png"></a>-->
            <!--<a><img src="www/image/facebook.png"></a>-->
            <a href="https://www.linkedin.com/company/10434567?trk=tyah&amp;trkInfo=tarId%3A1459242755801%2Ctas%3Aچاب%2Cidx%3A1-1-1" target="_blank"><img src="www/image/linkedin.png"></a>
        </div>


        <div class="capi">
            کپی رایت ©
            ۱۳۹۵-۱۳۹۴ ، چابک نام تجاری ثبت شده است، تمامی حقوق برای
            <a href="http://adpdigital.com" class=" whitecolor reg12">شرکت آتیه  داده پرداز</a>
            محفوظ می‌باشد.
        </div>
    </div>
    <div class="flot-50" style="padding: 25px 70px">
        <div style="font-family: IRANSans;
color:  #ffffff;
font-size: 15px;margin-bottom: 20px">
            با ثبت نام در خبرنامه چابک از آخرین خبر‌ها مطلع شوید.
        </div>
        <div class="khabrname">
            <input id="khabrnameEmail" type="email" placeholder="آدرس ایمیل خود را وارد کنید.">
            <div class="khabrnamebutt">
                ثبت نام
            </div>
        </div>
    </div>
</div></div>