    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content="پوش‌نوتیفیکیشن,ترکر نصب,شمارنده نصب,پلتفرم مارکتینگ موبایل و وب,push notification,install tracker,segmentation,کمپین نصب,سگمنت,track event,ترک رویداد,رصد رفتار کاربر,پوش نوتیفیکیشن خودکار,پوش جغرافیایی"/>
    <meta property="og:image" content="https://raw.githubusercontent.com/chabokpush/chabok-assets/master/chaboklogoblue.png" />
    <meta property="og:image:width" content="120"/>
    <meta property="og:image:height" content="125"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:locale" content="fa_IR"/>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 | remove: '*' | replace: '  ', ''}}" />
    <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 | remove: '*' | replace: '  ', ''}}" />
    {% else %}
    <meta name="description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 | remove: '*' | replace: '  ', ''}}"/>
    <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 | remove: '*' | replace: '  ', ''}}" />
    {% endif %}
    <meta name="author" content="Chabok Real-time Solutions" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <!-- OG -->
    <meta property="og:site_name" content="چابک‌پوش"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="{{ page.url }}"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="app"/>
    <meta name="twitter:site" content="@ChabokPush"/>