    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="پوش‌نوتیفیکیشن,ترکر نصب,شمارنده نصب,پلتفرم مارکتینگ موبایل و وب,push notification,install tracker">
    <meta property="og:image" content="https://raw.githubusercontent.com/chabokpush/chabok-assets/master/chaboklogoblue.png" />
    <meta property="og:image:width" content="120">
    <meta property="og:image:height" content="125">
    <meta property="og:locale" content="fa_IR">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="Chabok Real-time Solutions" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}


    <!-- OG -->
    <meta property="og:site_name" content="چابک‌پوش">
    <meta property="og:type" content="product">
    <meta property="og:url" content="{{ page.url }}}">
    <!--<meta property="og:description" content="در واپسین روزهای سال ۲۰۱۸ میلادی به سر می بریم و کارشناسان امر برآوردهای خود از عملکرد شرکت ها و مدیران عرصه تکنولوژی در یکسال...">-->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:site" content="@ChabokPush">