<div class="nav-docs">
    <!-- Docs Nav -->
    {% for section in site.data.nav_ios %}
    <div class="nav-docs-section">
        <h3>{{ section.title }}</h3>
        <ul>
            {% for item in section.items %}
            <li>
                {{ item | ios_sidebar_link}}
                {% if item.subitems %}
                <ul>
                    {% for subitem in item.subitems %}
                    <li>
                        {{ subitem | ios_sidebar_link }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}

        </ul>
    </div>
    {% endfor %}
    <div class="nav-docs-section">
        <ul>
            <li>
                <a  style="color: dodgerblue; font-weight: bold" href="http://doc.chabokpush.com/">&rarr; بازگشت</a>
            </li>
        </ul>
    </div>
</div>