<div class="nav-docs">
    <!-- Docs Nav -->
    <div class="nav-docs-section">
        <h3><a href="/windows/introducing.html">Windows</a></h3>
    </div>
    {% for section in site.data.nav_ios %}
    <div class="nav-docs-section">
        <h3>{{ section.title }}</h3>
        <ul>
            {% for item in section.items %}
            <li>
                {{ item | ios_sidebar_link}}
                {% if item.subitems %}
                <ul>
                    {% for subitem in item.subitems %}
                    <li>
                        {{ subitem | ios_sidebar_link }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}

        </ul>
    </div>
    {% endfor %}
    <div class="nav-docs-section">
        <h3><a href="/android/introducing.html">Android</a></h3>
    </div>
</div>