
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$gold:#f0db4f;
// Font stacks
$helvetica: Vazir;
$helveticaNeue: "Vazir", Helvetica, Arial, sans-serif;
$georgia: Vazir, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}