---
layout: default
sectionid: android
---
{% include nav_android.html %}
<div class="entry" id="content">
    <h1>
        {{ page.title }}
    </h1>
    <div class="subHeader">{{ page.description }}</div>

    {{ content }}

    <div class="docs-prevnext">
        {% if page.prev %}
        <a class="docs-prev" href="/android/{{ page.prev }}">قبلی &larr;</a>
        {% endif %}
        {% if page.next %}
        <a class="docs-next" href="/android/{{ page.next }}">&rarr; بعدی </a>
        {% endif %}
    </div>
</div>

