---
layout: default
sectionid: cordova
---
<div class="row">
    <div class="container-fluid">
        <div class="row">
            {% include nav_cordova.html %}
            <div class="entry post col-12 col-lg-9 content" {% if page.direction %}  {% else %} id="content" {% endif %}>
                <h1 class="header-dir-{{ page.direction }}">
                    <a id="sideMenuHandler">
                        <img src="../images/menu.svg" width="32" class="d-inline-block d-lg-none"/>
                    </a>
                    {{ page.title }}
                    <a class="editBtn edit-page-link" href="https://github.com/chabok-io/chabok-docs/blob/master/{{page.layout}}/{{page.id}}.md" target="_blank" rel="noreferrer noopener">ویرایش</a>
                </h1>
                <div class="subHeader">{{ page.description }}</div>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-12 content-dir-{{ page.direction }}">
                        <div class="doc-content">
                            {{ content }}
                        </div>
                        <div class="docs-prevnext clearfix">
                            {% if page.prev %}
                            <a class="docs-prev" href="/cordova/{{ page.prev }}"> &rarr; قبلی </a>
                            {% endif %}
                            {% if page.next %}
                            <a class="docs-next" href="/cordova/{{ page.next }}"> بعدی &larr; </a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="toc" class="col-lg-3 col-md-3 d-md-block d-none sidebar{{ page.direction }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

