<!DOCTYPE html>
<html dir="rtl">

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="icon" type="image/svg+xml" href="{{ site.avatar }}">
    {% include meta.html %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://chabokpush.com/www/css/main.css"/>
    <link href="https://cdn.rawgit.com/rastikerdar/vazir-code-font/v1.0.3/dist/font-face.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
    <script src="http://chabokpush.com/bower_components/jQuery/dist/jquery.min.js"></script>
    <script src="http://chabokpush.com/www/js/lib.js"></script>
</head>

<body>
<div class="fullSlide">
    <div class="chabokHeader static" style="opacity: 1" id="chabokheader">
        <div class="toplinks">
            <a class="med15 loginpanel" style="cursor: pointer;color:#00325d;margin-right: 40px"> ورود</a>
        </div>
        <div class="toplinks">
            <a href="http://chabokpush.com/careers.html" class="med15"> فرصت های شغلی</a>

        </div>
        <div class="toplinks">

            <a href="http://doc.chabokpush.com/" class="med15">پلتفرم‌ها</a>

        </div>
        <div class="toplinks">

            <a href="http://chabokpush.com/usage.html" class="med15"> موارد استفاده</a>

        </div>
        <div class="toplinks">

            <a href="http://chabokpush.com/chabok.html" class="med15">قابلیت‌ها</a>

        </div>
        <a href="http://chabokpush.com/"><img src="{{ site.avatar }}" class="chabokLogo">

            <div class="chabok">
                <h1 class="chabokColor reg34">
                    {{ site.name }}
                </h1>
            </div>
        </a>

    </div>

    <div class="container-fluid" style="padding-top: 50px">
        {{ content }}

    </div>
    {% include footer.html %}
</div>
{% include analytics.html %}
</body>

</html>