---
layout: default
sectionid: react-native
---
<div class="row">
    <div class="container-fluid">
        <div class="row">
            {% include nav_reactnative.html %}

            <div class="entry post col-12 col-lg-9" id="content">
                <h1>
                    <a id="sideMenuHandler">
                        <img src="../images/menu.svg" width="32" class="d-inline-block d-lg-none"/>
                    </a>
                    {{ page.title }}
                </h1>
                <div class="subHeader">{{ page.description }}</div>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-12">
                        <div class="doc-content">
                            <blockquote>
  <p><code>نکته </code>: از کتابخانه <strong>(React Native (pure js </strong> چابک تا آخر تابستان ۹۸ پشتیبانی می‌شود. برای استفاده از این فریم‌ورک لطفا به   <a href="https://doc.chabokpush.com/react-native-bridge/required.html">مستندات کتابخانه (React Native (bridge </a> مراجعه کنید.
</p>
</blockquote>
                            {{ content }}
                        </div>
                        <div class="docs-prevnext clearfix">
                            {% if page.prev %}
                            <a class="docs-prev" href="/react-native/{{ page.prev }}"> &rarr;قبلی </a>
                            {% endif %}
                            {% if page.next %}
                            <a class="docs-next" href="/react-native/{{ page.next }}"> بعدی &larr; </a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="toc" class="col-lg-3 col-md-3 d-md-block d-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>
