---
layout: default
sectionid: windows
---
{% include nav_windows.html %}

<div class="entry post" id="content">
    <h1>
        {{ page.title }}
    </h1>
    <div class="subHeader">{{ page.description }}</div>
    <div class="row">
        <div class="col-md-12">
            {{ content }}
            <div class="docs-prevnext">
                {% if page.prev %}
                <a class="docs-prev" href="/windows/{{ page.prev }}">&rarr;قبلی </a>
                {% endif %}
                {% if page.next %}
                <a class="docs-next" href="/windows/{{ page.next }}"> بعدی &larr;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>